<a href="https://colab.research.google.com/github/thomasjngo/Deep-Learning-Model/blob/main/AlphabetSoupCharity_Optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import load_model

#  Import and read the charity_data.csv.
import pandas as pd
application_df_original = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df_original.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df_original.drop(columns=["EIN", "NAME"])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
threshold = 200
value_counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = value_counts[value_counts < threshold].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts = application_df['CLASSIFICATION'].value_counts()
filtered_class = class_counts[class_counts > 1]
filtered_class

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
class_threshold = 1000
classifications_to_replace = class_counts[class_counts < class_threshold].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
#Adding name back into the training model for accuracy
name_counts = application_df_original['NAME'].value_counts()
name_counts

NAME
PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: count, Length: 19568, dtype: int64

In [10]:
name_threshold = 2
names_to_replace = name_counts[name_counts < name_threshold].index.tolist()

# Replace in dataframe
for name in names_to_replace:
    application_df_original['NAME'] = application_df_original['NAME'].replace(name,"Other")

# Check to make sure replacement was successful
application_df_original['NAME'].value_counts()

NAME
Other                                                                 18776
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
                                                                      ...
WASHINGTON EXPLORER SEARCH AND RESCUE                                     2
INTERNATIONAL ALLIANCE THEATRICAL STAGE EMPLOYEES & MOVING PICTURE        2
BIRTH NETWORK                                                             2
NATIONAL ASSOCIATON OF CORPORATE DIRECTORS                                2
NATIONAL SOCIETY COLONIAL DAMES XVII CENTURY                              2
Name: count, Length: 793, dtype: int64

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`

application_df_orignal = application_df_original.drop(columns=["EIN"])

df_dummies = pd.get_dummies(application_df_original, columns=['NAME', 'ASK_AMT','APPLICATION_TYPE', 'AFFILIATION','CLASSIFICATION','USE_CASE','INCOME_AMT', 'ORGANIZATION', 'STATUS','SPECIAL_CONSIDERATIONS'])

In [13]:
# Split our preprocessed data into our features and target arrays

X = df_dummies.drop(columns=['IS_SUCCESSFUL', 'NAME_Other'])  # Drop the target column to get the feature variables
y = df_dummies['IS_SUCCESSFUL']  # Assign the target column to y

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = X_train.shape[1]
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                772560

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 775021 (2.96 MB)
Trainable params: 775021 (2.96 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [16]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [17]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 19s 23ms/step - loss: 0.4967 - accuracy: 0.7625
Epoch 2/100
804/804 [==============================] - 11s 13ms/step - loss: 0.2887 - accuracy: 0.8757
Epoch 3/100
804/804 [==============================] - 10s 12ms/step - loss: 0.2726 - accuracy: 0.8777
Epoch 4/100
804/804 [==============================] - 9s 11ms/step - loss: 0.2678 - accuracy: 0.8800
Epoch 5/100
804/804 [==============================] - 10s 12ms/step - loss: 0.2667 - accuracy: 0.8793
Epoch 6/100
804/804 [==============================] - 10s 13ms/step - loss: 0.2653 - accuracy: 0.8811
Epoch 7/100
804/804 [==============================] - 9s 11ms/step - loss: 0.2635 - accuracy: 0.8822
Epoch 8/100
804/804 [==============================] - 10s 13ms/step - loss: 0.2632 - accuracy: 0.8822
Epoch 9/100
804/804 [==============================] - 10s 12ms/step - loss: 0.2621 - accuracy: 0.8824
Epoch 10/100
804/804 [==============================] - 9s 12ms/step - loss: 0.2611 - accuracy: 0.8827
Epoch 11/100
804/804 [==============================] - 10s 12ms/step - loss: 0.2605 - accuracy: 0.8840
Epoch 12/100
804/804 [==============================] - 10s 13ms/step - loss: 0.2600 - accuracy: 0.8833
Epoch 13/100
804/804 [==============================] - 10s 13ms/step - loss: 0.2592 - accuracy: 0.8843
Epoch 14/100
804/804 [==============================] - 9s 11ms/step - loss: 0.2585 - accuracy: 0.8842
Epoch 15/100
804/804 [==============================] - 10s 13ms/step - loss: 0.2579 - accuracy: 0.8849
Epoch 16/100
804/804 [==============================] - 10s 12ms/step - loss: 0.2572 - accuracy: 0.8851
Epoch 17/100
804/804 [==============================] - 9s 11ms/step - loss: 0.2571 - accuracy: 0.8845
Epoch 18/100
804/804 [==============================] - 10s 12ms/step - loss: 0.2565 - accuracy: 0.8850
Epoch 19/100
804/804 [==============================] - 10s 13ms/step - loss: 0.2562 - accuracy: 0.8852
Epoch 20/100
804/804 [==============================] - 10s 12ms/step - loss: 0.2556 - accuracy: 0.8856
Epoch 21/100
804/804 [==============================] - 9s 12ms/step - loss: 0.2555 - accuracy: 0.8861
Epoch 22/100
804/804 [==============================] - 12s 15ms/step - loss: 0.2552 - accuracy: 0.8861
Epoch 23/100
804/804 [==============================] - 10s 13ms/step - loss: 0.2545 - accuracy: 0.8856
Epoch 24/100
804/804 [==============================] - 9s 11ms/step - loss: 0.2539 - accuracy: 0.8868
Epoch 25/100
804/804 [==============================] - 10s 13ms/step - loss: 0.2537 - accuracy: 0.8866
Epoch 26/100
804/804 [==============================] - 10s 13ms/step - loss: 0.2531 - accuracy: 0.8861
Epoch 27/100
804/804 [==============================] - 9s 12ms/step - loss: 0.2530 - accuracy: 0.8864
Epoch 28/100
804/804 [==============================] - 10s 12ms/step - loss: 0.2519 - accuracy: 0.8868
Epoch 29/100
804/804 [==============================] - 10s 12ms/step - loss: 0.2517 - accuracy: 0.8866
Epoch 30/100
804/804 [==============================] - 9s 12ms/step - loss: 0.2511 - accuracy: 0.8879
Epoch 31/100
804/804 [==============================] - 9s 11ms/step - loss: 0.2511 - accuracy: 0.8880
Epoch 32/100
804/804 [==============================] - 10s 12ms/step - loss: 0.2505 - accuracy: 0.8878
Epoch 33/100
804/804 [==============================] - 10s 12ms/step - loss: 0.2500 - accuracy: 0.8883
Epoch 34/100
804/804 [==============================] - 9s 11ms/step - loss: 0.2502 - accuracy: 0.8885
Epoch 35/100
804/804 [==============================] - 10s 12ms/step - loss: 0.2495 - accuracy: 0.8882
Epoch 36/100
804/804 [==============================] - 10s 12ms/step - loss: 0.2497 - accuracy: 0.8884
Epoch 37/100
804/804 [==============================] - 9s 11ms/step - loss: 0.2488 - accuracy: 0.8872
Epoch 38/100
804/804 [==============================] - 10s 12ms/step - loss: 0.2485 - accuracy: 0.8886
Epoch 39/100
804/804 [==============================] - 10s 12ms/step - loss: 0.2485 - accuracy: 0.8894
Epoch 40/100
804/804 [==============================] - 9s 11ms/step - loss: 0.2475 - accuracy: 0.8896
Epoch 41/100
804/804 [==============================] - 9s 12ms/step - loss: 0.2478 - accuracy: 0.8884
Epoch 42/100
804/804 [==============================] - 10s 12ms/step - loss: 0.2471 - accuracy: 0.8890
Epoch 43/100
804/804 [==============================] - 10s 12ms/step - loss: 0.2473 - accuracy: 0.8890
Epoch 44/100
804/804 [==============================] - 12s 15ms/step - loss: 0.2464 - accuracy: 0.8892
Epoch 45/100
804/804 [==============================] - 11s 14ms/step - loss: 0.2461 - accuracy: 0.8900
Epoch 46/100
804/804 [==============================] - 10s 13ms/step - loss: 0.2467 - accuracy: 0.8891
Epoch 47/100
804/804 [==============================] - 10s 13ms/step - loss: 0.2452 - accuracy: 0.8906
Epoch 48/100
804/804 [==============================] - 9s 11ms/step - loss: 0.2457 - accuracy: 0.8901
Epoch 49/100
804/804 [==============================] - 10s 13ms/step - loss: 0.2453 - accuracy: 0.8902
Epoch 50/100
804/804 [==============================] - 10s 13ms/step - loss: 0.2446 - accuracy: 0.8899
Epoch 51/100
804/804 [==============================] - 10s 12ms/step - loss: 0.2444 - accuracy: 0.8906
Epoch 52/100
804/804 [==============================] - 10s 12ms/step - loss: 0.2447 - accuracy: 0.8899
Epoch 53/100
804/804 [==============================] - 10s 13ms/step - loss: 0.2442 - accuracy: 0.8899
Epoch 54/100
804/804 [==============================] - 10s 13ms/step - loss: 0.2437 - accuracy: 0.8911
Epoch 55/100
804/804 [==============================] - 10s 12ms/step - loss: 0.2434 - accuracy: 0.8912
Epoch 56/100
804/804 [==============================] - 10s 13ms/step - loss: 0.2433 - accuracy: 0.8913
Epoch 57/100
804/804 [==============================] - 10s 13ms/step - loss: 0.2432 - accuracy: 0.8903
Epoch 58/100
804/804 [==============================] - 10s 13ms/step - loss: 0.2426 - accuracy: 0.8912
Epoch 59/100
804/804 [==============================] - 9s 11ms/step - loss: 0.2422 - accuracy: 0.8920
Epoch 60/100
804/804 [==============================] - 10s 13ms/step - loss: 0.2421 - accuracy: 0.8913
Epoch 61/100
804/804 [==============================] - 10s 13ms/step - loss: 0.2417 - accuracy: 0.8916
Epoch 62/100
804/804 [==============================] - 9s 12ms/step - loss: 0.2419 - accuracy: 0.8920
Epoch 63/100
804/804 [==============================] - 9s 12ms/step - loss: 0.2414 - accuracy: 0.8915
Epoch 64/100
804/804 [==============================] - 10s 13ms/step - loss: 0.2413 - accuracy: 0.8917
Epoch 65/100
804/804 [==============================] - 10s 12ms/step - loss: 0.2412 - accuracy: 0.8910
Epoch 66/100
804/804 [==============================] - 9s 11ms/step - loss: 0.2410 - accuracy: 0.8919
Epoch 67/100
804/804 [==============================] - 10s 12ms/step - loss: 0.2407 - accuracy: 0.8915
Epoch 68/100
804/804 [==============================] - 11s 14ms/step - loss: 0.2402 - accuracy: 0.8920
Epoch 69/100
804/804 [==============================] - 9s 11ms/step - loss: 0.2399 - accuracy: 0.8929
Epoch 70/100
804/804 [==============================] - 10s 12ms/step - loss: 0.2405 - accuracy: 0.8917
Epoch 71/100
804/804 [==============================] - 10s 12ms/step - loss: 0.2398 - accuracy: 0.8920
Epoch 72/100
804/804 [==============================] - 9s 11ms/step - loss: 0.2393 - accuracy: 0.8926
Epoch 73/100
804/804 [==============================] - 10s 12ms/step - loss: 0.2398 - accuracy: 0.8922
Epoch 74/100
804/804 [==============================] - 10s 12ms/step - loss: 0.2398 - accuracy: 0.8915
Epoch 75/100
804/804 [==============================] - 9s 11ms/step - loss: 0.2399 - accuracy: 0.8927
Epoch 76/100
804/804 [==============================] - 10s 12ms/step - loss: 0.2397 - accuracy: 0.8926
Epoch 77/100
804/804 [==============================] - 10s 12ms/step - loss: 0.2392 - accuracy: 0.8922
Epoch 78/100
804/804 [==============================] - 10s 12ms/step - loss: 0.2391 - accuracy: 0.8926
Epoch 79/100
804/804 [==============================] - 9s 12ms/step - loss: 0.2391 - accuracy: 0.8926
Epoch 80/100
804/804 [==============================] - 10s 13ms/step - loss: 0.2381 - accuracy: 0.8929
Epoch 81/100
804/804 [==============================] - 10s 12ms/step - loss: 0.2378 - accuracy: 0.8937
Epoch 82/100
804/804 [==============================] - 9s 11ms/step - loss: 0.2382 - accuracy: 0.8924
Epoch 83/100
804/804 [==============================] - 10s 13ms/step - loss: 0.2381 - accuracy: 0.8925
Epoch 84/100
804/804 [==============================] - 10s 13ms/step - loss: 0.2376 - accuracy: 0.8933
Epoch 85/100
804/804 [==============================] - 9s 11ms/step - loss: 0.2378 - accuracy: 0.8926
Epoch 86/100
804/804 [==============================] - 14s 18ms/step - loss: 0.2375 - accuracy: 0.8936
Epoch 87/100
804/804 [==============================] - 9s 12ms/step - loss: 0.2372 - accuracy: 0.8926
Epoch 88/100
804/804 [==============================] - 10s 12ms/step - loss: 0.2378 - accuracy: 0.8933
Epoch 89/100
804/804 [==============================] - 9s 12ms/step - loss: 0.2376 - accuracy: 0.8930
Epoch 90/100
804/804 [==============================] - 9s 12ms/step - loss: 0.2366 - accuracy: 0.8932
Epoch 91/100
804/804 [==============================] - 11s 13ms/step - loss: 0.2373 - accuracy: 0.8934
Epoch 92/100
804/804 [==============================] - 10s 12ms/step - loss: 0.2382 - accuracy: 0.8927
Epoch 93/100
804/804 [==============================] - 9s 11ms/step - loss: 0.2367 - accuracy: 0.8940
Epoch 94/100
804/804 [==============================] - 10s 12ms/step - loss: 0.2366 - accuracy: 0.8940
Epoch 95/100
804/804 [==============================] - 10s 12ms/step - loss: 0.2368 - accuracy: 0.8930
Epoch 96/100
804/804 [==============================] - 9s 11ms/step - loss: 0.2367 - accuracy: 0.8942
Epoch 97/100
804/804 [==============================] - 10s 12ms/step - loss: 0.2360 - accuracy: 0.8937
Epoch 98/100
804/804 [==============================] - 10s 12ms/step - loss: 0.2361 - accuracy: 0.8935
Epoch 99/100
804/804 [==============================] - 10s 12ms/step - loss: 0.2359 - accuracy: 0.8943
Epoch 100/100
804/804 [==============================] - 9s 11ms/step - loss: 0.2362 - accuracy: 0.8932

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.7394 - accuracy: 0.7909 - 918ms/epoch - 3ms/step
Loss: 0.7394465804100037, Accuracy: 0.7909038066864014

In [19]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(