<a href="https://colab.research.google.com/github/thomasjngo/Deep-Learning-Model/blob/main/AlphabetSoupCharity_Optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [20]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import load_model

#  Import and read the charity_data.csv.
import pandas as pd
application_df_original = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df_original.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [21]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df_original.drop(columns=["EIN", "NAME"])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [22]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [23]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [24]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
threshold = 200
value_counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = value_counts[value_counts < threshold].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [25]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [26]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts = application_df['CLASSIFICATION'].value_counts()
filtered_class = class_counts[class_counts > 1]
filtered_class

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [27]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
class_threshold = 1000
classifications_to_replace = class_counts[class_counts < class_threshold].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [28]:
#Adding name back into the training model for accuracy
name_counts = application_df_original['NAME'].value_counts()
name_counts

NAME
PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: count, Length: 19568, dtype: int64

In [29]:
name_threshold = 2
names_to_replace = name_counts[name_counts < name_threshold].index.tolist()

# Replace in dataframe
for name in names_to_replace:
    application_df_original['NAME'] = application_df_original['NAME'].replace(name,"Other")

# Check to make sure replacement was successful
application_df_original['NAME'].value_counts()

NAME
Other                                                                 18776
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
                                                                      ...
WASHINGTON EXPLORER SEARCH AND RESCUE                                     2
INTERNATIONAL ALLIANCE THEATRICAL STAGE EMPLOYEES & MOVING PICTURE        2
BIRTH NETWORK                                                             2
NATIONAL ASSOCIATON OF CORPORATE DIRECTORS                                2
NATIONAL SOCIETY COLONIAL DAMES XVII CENTURY                              2
Name: count, Length: 793, dtype: int64

In [30]:
# Convert categorical data to numeric with `pd.get_dummies`

application_df_orignal = application_df_original.drop(columns=["EIN"])

df_dummies = pd.get_dummies(application_df_original, columns=['NAME', 'APPLICATION_TYPE', 'AFFILIATION','CLASSIFICATION','USE_CASE','INCOME_AMT', 'ORGANIZATION', 'SPECIAL_CONSIDERATIONS'])

In [31]:
# Split our preprocessed data into our features and target arrays

X = df_dummies.drop(columns=['IS_SUCCESSFUL', 'ASK_AMT','NAME_Other', 'STATUS'])  # Drop the target column to get the feature variables
y = df_dummies['IS_SUCCESSFUL']  # Assign the target column to y

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [32]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [33]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = X_train.shape[1]
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                72640

 dense_4 (Dense)             (None, 30)                2430

 dense_5 (Dense)             (None, 1)                 31

=================================================================
Total params: 75101 (293.36 KB)
Trainable params: 75101 (293.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [34]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [35]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4761 - accuracy: 0.7822
Epoch 2/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4158 - accuracy: 0.8052
Epoch 3/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4087 - accuracy: 0.8065
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4054 - accuracy: 0.8078
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4030 - accuracy: 0.8078
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4010 - accuracy: 0.8097
Epoch 7/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4000 - accuracy: 0.8104
Epoch 8/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3988 - accuracy: 0.8106
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3978 - accuracy: 0.8123
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3963 - accuracy: 0.8126
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3956 - accuracy: 0.8129
Epoch 12/100
804/804 [==============================] - 4s 4ms/step - loss: 0.3951 - accuracy: 0.8154
Epoch 13/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3941 - accuracy: 0.8137
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3930 - accuracy: 0.8131
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3923 - accuracy: 0.8131
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3909 - accuracy: 0.8157
Epoch 17/100
804/804 [==============================] - 3s 4ms/step - loss: 0.3904 - accuracy: 0.8156
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3898 - accuracy: 0.8162
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3890 - accuracy: 0.8180
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3887 - accuracy: 0.8172
Epoch 21/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3876 - accuracy: 0.8177
Epoch 22/100
804/804 [==============================] - 6s 7ms/step - loss: 0.3866 - accuracy: 0.8178
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3863 - accuracy: 0.8188
Epoch 24/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3858 - accuracy: 0.8183
Epoch 25/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3853 - accuracy: 0.8191
Epoch 26/100
804/804 [==============================] - 3s 4ms/step - loss: 0.3844 - accuracy: 0.8190
Epoch 27/100
804/804 [==============================] - 3s 4ms/step - loss: 0.3841 - accuracy: 0.8192
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3831 - accuracy: 0.8201
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3823 - accuracy: 0.8213
Epoch 30/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3817 - accuracy: 0.8202
Epoch 31/100
804/804 [==============================] - 3s 4ms/step - loss: 0.3812 - accuracy: 0.8216
Epoch 32/100
804/804 [==============================] - 3s 4ms/step - loss: 0.3806 - accuracy: 0.8221
Epoch 33/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3799 - accuracy: 0.8216
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3802 - accuracy: 0.8216
Epoch 35/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3791 - accuracy: 0.8229
Epoch 36/100
804/804 [==============================] - 3s 4ms/step - loss: 0.3786 - accuracy: 0.8207
Epoch 37/100
804/804 [==============================] - 3s 4ms/step - loss: 0.3776 - accuracy: 0.8230
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3770 - accuracy: 0.8233
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3766 - accuracy: 0.8232
Epoch 40/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3764 - accuracy: 0.8225
Epoch 41/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3756 - accuracy: 0.8232
Epoch 42/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3757 - accuracy: 0.8246
Epoch 43/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3744 - accuracy: 0.8243
Epoch 44/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3740 - accuracy: 0.8249
Epoch 45/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3739 - accuracy: 0.8246
Epoch 46/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3733 - accuracy: 0.8247
Epoch 47/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3733 - accuracy: 0.8248
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3724 - accuracy: 0.8236
Epoch 49/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3717 - accuracy: 0.8253
Epoch 50/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3713 - accuracy: 0.8259
Epoch 51/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3716 - accuracy: 0.8264
Epoch 52/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3707 - accuracy: 0.8269
Epoch 53/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3707 - accuracy: 0.8265
Epoch 54/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3698 - accuracy: 0.8275
Epoch 55/100
804/804 [==============================] - 3s 4ms/step - loss: 0.3695 - accuracy: 0.8261
Epoch 56/100
804/804 [==============================] - 3s 4ms/step - loss: 0.3691 - accuracy: 0.8272
Epoch 57/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3686 - accuracy: 0.8270
Epoch 58/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3684 - accuracy: 0.8268
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3689 - accuracy: 0.8277
Epoch 60/100
804/804 [==============================] - 3s 4ms/step - loss: 0.3677 - accuracy: 0.8280
Epoch 61/100
804/804 [==============================] - 3s 4ms/step - loss: 0.3675 - accuracy: 0.8276
Epoch 62/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3679 - accuracy: 0.8261
Epoch 63/100
804/804 [==============================] - 3s 4ms/step - loss: 0.3671 - accuracy: 0.8282
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3663 - accuracy: 0.8283
Epoch 65/100
804/804 [==============================] - 4s 4ms/step - loss: 0.3665 - accuracy: 0.8281
Epoch 66/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3651 - accuracy: 0.8289
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3658 - accuracy: 0.8286
Epoch 68/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3646 - accuracy: 0.8293
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3654 - accuracy: 0.8290
Epoch 70/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3639 - accuracy: 0.8289
Epoch 71/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3642 - accuracy: 0.8288
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3638 - accuracy: 0.8297
Epoch 73/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3640 - accuracy: 0.8296
Epoch 74/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3632 - accuracy: 0.8285
Epoch 75/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3647 - accuracy: 0.8286
Epoch 76/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3631 - accuracy: 0.8290
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3628 - accuracy: 0.8298
Epoch 78/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3631 - accuracy: 0.8286
Epoch 79/100
804/804 [==============================] - 3s 4ms/step - loss: 0.3621 - accuracy: 0.8281
Epoch 80/100
804/804 [==============================] - 3s 4ms/step - loss: 0.3619 - accuracy: 0.8296
Epoch 81/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3623 - accuracy: 0.8300
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3617 - accuracy: 0.8293
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3625 - accuracy: 0.8296
Epoch 84/100
804/804 [==============================] - 3s 4ms/step - loss: 0.3618 - accuracy: 0.8295
Epoch 85/100
804/804 [==============================] - 3s 4ms/step - loss: 0.3616 - accuracy: 0.8292
Epoch 86/100
804/804 [==============================] - 6s 7ms/step - loss: 0.3613 - accuracy: 0.8295
Epoch 87/100
804/804 [==============================] - 7s 8ms/step - loss: 0.3602 - accuracy: 0.8295
Epoch 88/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3606 - accuracy: 0.8300
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3601 - accuracy: 0.8301
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3602 - accuracy: 0.8301
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3604 - accuracy: 0.8300
Epoch 92/100
804/804 [==============================] - 4s 5ms/step - loss: 0.3596 - accuracy: 0.8301
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3599 - accuracy: 0.8295
Epoch 94/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3595 - accuracy: 0.8313
Epoch 95/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3588 - accuracy: 0.8311
Epoch 96/100
804/804 [==============================] - 3s 4ms/step - loss: 0.3589 - accuracy: 0.8306
Epoch 97/100
804/804 [==============================] - 3s 4ms/step - loss: 0.3587 - accuracy: 0.8306
Epoch 98/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3585 - accuracy: 0.8295
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3594 - accuracy: 0.8302
Epoch 100/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3584 - accuracy: 0.8295

In [36]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5185 - accuracy: 0.7969 - 816ms/epoch - 3ms/step
Loss: 0.5184504985809326, Accuracy: 0.7968513369560242

In [37]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(